# BDD -> epic_events
DB_HOST=localhost
DB_PORT=5432
DB_NAME=epic_events
DB_USER=epic_user
DB_PASSWORD=your-database-password

JWT_SECRET_KEY=replace_with_a_long_random_secret

SENTRY_DSN=
SENTRY_ENVIRONMENT=development